<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>

    <title>Daily Forecast</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
<div class="alert alert-primary" role="alert">
  Forecast of : <span th:text="${currentDate}"></span>
</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Time-zone</th>
      <th scope="col">Forecast Summary</th>
    </tr>
  </thead>
  <tbody>
    <tr th:if="${forecasts.empty}">
            <td colspan="2"> No Forecast Available </td>
        </tr>
        <tr th:each="forecast : ${forecasts}">
            <td><span th:text="${forecast.location}"> Title </span></td>
            <td><span th:text="${forecast.summary}"> Author </span></td>
        </tr>
  </tbody>
</table>

</div> <!-- /container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
</body>
</html>